@page
@model Hweb.Pages.AdminModel
@{
}
<h1>Admin Page</h1>

<script>
    function createRequest() {
        window.location.href = "/Edit.cshtml"; // Redirect to the CreateRequest page
    }
</script>